.box{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
    border: 2px solid #007bff;
    font-weight: bold;
    text-align: left;
}

table {
    /* 실제 box 내부에서 사용하므로 크기는 box크기와 동일함 */
    width: 100%;
    /* 겹치는 영역의 선을 제거 */
    border-collapse: collapse;
    /* 데이터 상단의 여백 */
    margin-top: 10px;
}

th, td {
    /* 실제 셀의 테두리 크기 */
    border: 1px solid black;
    /* 셀 내부의 여백 */
    padding: 10px;
    /* 글자 가운데 정렬 */
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

form {
    /* 간격 조정 활성화 */
    display: flex;
    /* 요소가 위에서 아래로 쌓이도록 구성(이름과 이메일이 옆으로 정렬되지 않음) */
    flex-direction: column;
}

label {
    /* 위 10, 아래 5 여백 */
    margin: 10px 0 5px;
    color: #444444;
    /* 적당히 두껍게 */
    font-weight: 500;
}

/* 타입 'text' 및 'email'에 대한 스타일 */
input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    /* 1rem: 브라우저의 기본 폰트 크기 */
    font-size: 1rem;
}

.custom-button {
    margin-top: 20px;
    padding: 12px;
    background-color: #4a90ea;
    color: white;
    border: none;
    border-radius: 5px;
    /* 마우스 가져다 대면 손가락 모양이 나오도록 구성 */
    cursor: pointer;
}