.box {
   
    background-color:#fff8eaf8;
     /* 박스 배경색을 #색으로 설정 */

    
    padding: 20px;
    /* 박스 안쪽 여백 (콘텐츠와 테두리 사이)을 50px로 설정 */

    
    margin: 15px 0;
    /* 박스 바깥 여백 위&아래 15px, 좌&우 0px */

    
    border-radius: 5px;
    /* 테두리 모서리를 5px만큼 둥글게 처리 */

   
    border: 5px solid #311e0dce;
     /* 2px두께의 실선(solid) 테두리를 아래 색으로 설정 */

   
    font-weight: bold;
     /* 글자를 굵게(bold) 표시 */

    
    text-align:left;
    /* 텍스트  정렬 */
}

table {
    
    width: 100%;
    /* 실제로 box내부에서 사용하므로 box 크기만큼 */
    
    border-collapse: collapse;
    /* 표 만들 때 겹쳐서 선이 지저분해지는 부분 제거 */
   
    margin-top: 10px;
     /* 데이터 상단에 여백 */
}

th, td {
    border: 1px solid rgb(46, 40, 40);
    /* 실제 셀의 테두리 크기를 1px, 실선, 검정색 */
    padding:10px;
    text-align: center;
    /* 글자 가운데 정렬 */
}

th {
    background-color: #311e0dce;
    color: white;
}

form{
    display: flex;
    /* 간격조정 활성화 */

    flex-direction: column;
    /* 요소가 위에서 아래로 쌓이도록 구성 (옆에 붙지 x) */
}

label {
    margin: 10px 0 5px;
    /* 위 10px, 아래 5px 여백 */

    color: #444444;
    /* 폰트 색깔 */

    font-weight: 500;
    /* 적당히 두껍게 */

    font-weight: bold;
    /* 볼드체 */
}

input[type="text"],
input[type="email"] {
/* 입력 type이 text와 email에 적용 */

    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    /* 브라우저의 기본 폰트 크기 */
    transition: border-color 0.3s;
}

.custom-button {
    margin-top: 20px;
    padding: 12px;
    background-color: #311e0dce;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* 마우스 가져다 대면 손가락 모양 나오도록 구성 */
}