.box {
    background-color: rgb(81, 68, 77);
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-weight: bold;
    text-align: center;
}

.box table {
    margin: 0 auto; /* 테이블을 가운데 정렬 */
    border-collapse: collapse; /* 선택사항: 경계 겹침 제거 */
    width: 100%;
    margin-top: 10px;
}
.box table th {
    background-color: #331cc6; /* 선택사항: 헤더 배경색 */
    color: #da4914; /* 선택사항: 헤더 텍스트 색상 */
}
.box table td {
    text-align: center; /* 셀 내용 가운데 정렬 */
    padding: 8px;
    border: 1px solid #331cc6; /* 선택사항: 셀 경계 스타일 */
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin: 10px 0 5px;
    font-weight: 500;
    color: #8e0d0d;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
    text-align: right;
    width: 10
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #331cc6;
    outline: none;
}

.custom-button {
    margin-top: 20px;
    background-color: #331cc6;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

form label {
    display: inline-block;
    width: 120px;
    text-align: left;
    margin-right: 8px;
}