.box{background-color: aliceblue;
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    border: 2px solid #008bff;
    font-weight: bold;
    text-align: left;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th,td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #008bff;
    color: white;
}
form{
    display: flex;
    flex-direction: column;

}
label{
    margin: 10px 0 5px;
    color:black;
    font-weight: 500;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.custom-button {
    margin-top: 20px;
    padding: 12px;
    background-color: #4a90ea;
    color:blueviolet;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}